body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
}
/*
body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}
*/


/* */
.contact-contact { padding: 0.5em;}
.contact-note {margin-left: 1em; padding: 0.2em;}

  /* only show note maker when hovering over contact  */
.contact-note > form {display: none}
.contact-contact:hover > .contact-note > form {display: block}

.edit-toggle {float:right; clear:both}

/* */

.inline {display: inline-block}
.person-info {
 padding-right: 1em;
}


a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

.monospaced {
 font-family: "Courier New", Courier, monospace;
}
.dob {
 display: block;
 float: left;
 font-size: 9px;
 padding-left:1em;
 padding-bottom: 5px;
}
tr {
 border-bottom: 1px solid #aaa;
}

.search-cntnr {
 text-align:left;
 display: inline-block;
 float:left;
 max-width: 500px
}

/*-----------*/
.visit-edit {
 padding:1em;
 margin:1em;
}
.visit-cntnr {
 /*text-align:right;*/
 display: inline-block;
 float:left;
 max-width: 500px
}

.visitdate {
 font-size: 16px;
 font-weight: bold;
}
.visitinfo {
 font-weight: bold;
 /*border-color: #f44;*/
 border-left: solid 2px;
 border-top: solid 2px;
 border-bottom: solid 2px;
}

.Scan {
 border-left: 4px solid #4f4 !important;
}
.Behavioral {
 border-left: 4px solid #44f !important;
}
.MEG {
 border-left: 4px solid #fa4 !important;
}

.visittask {
 display: inline-block;
 padding: 0 .5em;
 font-weight: bold;
}
.link {
 color: #09f;
}

li.visititem {
 display: block;
 padding: 1em;
 margin-bottom: 1em;
}

/* ids of any time aren't that important */
.id {
 font-size: small;
 color: #777;
 display: inline;
 padding-left: 0.5em;
}


h2.ids { 
 max-width: 200px;
 display:inline-block;
 padding-right: 2em;
}

h3.name {
 display: inline-block;
}

hr.boldhr {
 padding: 1px;
 width: 100%;
 background: #aaa;
 margin-top: .5em;
 margin-bottom: .5em;
}

.idtype {
padding:.1em
}

.idtype .luna {
}
.notluna {
 color: #333;
 font-size: small;
}

.maxdrop {
 border-radius: 1em 1em 0 0;
 font-size: large;
 background-color: red;
 color: white;
 margin: .4em;
 padding: .4em;
 border: solid black 1px;
}

.drop-visit {
 background-color: pink;
}

.visit-form-toggle  {
 margin: 1em;
}


ul.list-selection {
 list-style-type: none;
} 
ul.list-selection > li {
 margin-left: -20px !important;
 width: 30px;
 overflow: hidden;
 display: inline-block;
}


/*ul.list-selection > li:first-child, */
ul.list-selection:hover > li {
 margin-left: .1em !important;
 width: auto !important;
}



.visitnotes {
 display: block;
 padding: .5em;
}

.inputdiv > label {
 padding-right: 1em;
 float:left;
}
.inputdiv > label {
 /*float:right;*/
}

.drop-subject {
  background-color: #d55;
}
.drop-somevisits{
  background-color: #daa;
}
.drop-visit{
  background-color: #faa;
}
.search-id {
 font-size: 6px;
 display: block;
}

.search-selected {
 border: 3px solid green;
}

.tasklist { display: inline-block; padding: 8px}
.task { display: inline-block; padding:5px; margin: 3px; color:white;font-weight:bold;border-radius:10px; }
.task.addedtask { background-color: #88ff88; }
.task.should-havetask { background-color: #ff8888; }
.task.addedtask.should-havetask { background-color: #8888ff; }

.checkin.note {display: block; padding:.5em; }
h2.checkinhead {clear: both; margin-top: 2em}
.checkin.note  {margin: .5em; padding: .7em; border-radius: 1em; background-color: #6f9faf}
